<html>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="/estatico/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/estatico/css/fontawesome.min.css" />
        <link rel="stylesheet" href="/estatico/css/livraria.css" />
    </head>
    <body>
        <header class="cabecalhoPrincipal">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-4">
                        <h1 class="logo"><img src="/estatico/imagens/logo-casadocodigo.svg" alt="Casa do Código" /></h1>
                    </div>
                    <div class="cabecalhoPrincipal-navegacao col-8">
                        <a href="#" class="login">
                            <i class="fas fa-sign-in-alt"></i>Login
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <main class="conteudoPrincipal">
            <div class="container">
                <h1>Cadastro de livros</h1>

                <div if(data.errosValidacao)>
                    <div class="alert alert-danger" for(erro in data.errosValidacao)>
                        ${erro.param} - ${erro.msg}
                    </div>
                </div>

                <form action="/livros/form" method="post">

                    <div if(data.livro.id)>
                        <input type="hidden" name="_method" value="PUT">
                        <input type="hidden" id="id" name="id" value="${data.livro.id}">
                    </div>

                    <div class="form-group">
                        <label for="titulo">Título:</label>
                        <input type="text" id="titulo" name="titulo" value="${data.livro.titulo}" placeholder="Coloque o título do livro" class="form-control">        
                    </div>
                    <div class="form-group">
                        <label for="preco">Preço:</label>
                        <input type="text" id="preco" name="preco" value="${data.livro.preco}" placeholder="150.25" class="form-control">        
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição:</label>
                        <textarea cols="20" rows="10" id="descricao" name="descricao" placeholder="Descrição do livro" class="form-control">${data.livro.descricao}</textarea>        
                    </div>

                    <input type="submit" value="Salvar" class="btn btn-primary"/>        
                </form>
            </div>
        </main>
        <footer class="rodape">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-4">
                        <img src="/estatico/imagens/logo-rodape.svg" class="logo-rodape" />
                    </div>
                    <div class="col-8">
                        <ul class="redesSociais">
                            <li><a href="https://www.facebook.com/profile.php?id=100002512955401" class="compartilhar-facebook" target="_blank">/Livraria</a></li>
                            <li><a href="http://www.twitter.com/candinholuiz" class="compartilhar-twitter" target="_blank">@livraria</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>